<ul>
    {{#each burgers}}
    <li>
        <p id="{{id}}">{{burger_name}} Eaten: {{devoured}}
        <button data-burgerId="{{id}}" class=" btn devourBtn">Devour</button>
        </p>
    </li>
    {{/each}}
</ul>

<div id="addBurger">
    <h3>Add a Burger</h3>
    <form>
        <textarea name="burgerName" type="text" id="burgerText" placeholder="Enter Burger Here"></textarea><br>
        <button type="submit" class="btn" id="newBurgerBtn">Add Burger</button>
    </form>
</div>