<ul>
    {{#each burgers}}
    <li>
        <p id="{{id}}">{{burger_name}} Eaten: {{devoured}}
        <button data-burgerId="{{id}}" class=" btn devourBtn">Devour</button>
        </p>
    </li>
    {{/each}}
</ul>

<h3>Add a Burger</h3>
<form id="addBurger">
    <textarea name="burgerName" type="text" id="burgerText"></textarea>
    <button type="submit" class="btn">Add Burger</button>
</form>