body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: cyan;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

#addBurger {
    margin: auto;
    text-align: center;
    padding: 10px;
}

#newBurgerBtn {
    border-radius: 50%;
    border: none;
    text-align: center;
    background-color: lime;
    color: white;
    padding: 20px;
    margin-top: 5px;
    transition: all 1s;
}

#newBurgerBtn:hover {
    background-color: forestgreen;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: scale(1.1);
}

#burgerText {
    padding: 5px;
    text-align: center;
}

